div.container
  .row
    .col-xs-12
      div.header
        h1 Make some slides!
        button(ng-click="addSlide()") +

  .row(ng-repeat="slide in slides")
    .col-md-8
      div.editor
        div(ng-model="slide.htmlContent" medium-editor bind-options="toolbar" data-placeholder="Create your slide.")
    .col-md-3
      div.preview
    .col-md-1
      button(style="width: 100%;" ng-click="addSlide($index)") +
      button(style="width: 100%;" ng-click="removeSlide($index)") -

  .row
    .col-xs-12.submit
      button(ng-click="submit()") Submit
