- // TODO: get this from an api or something
- var SupportedTranslations = ['NIV', 'MSG', 'NLT']

div.container
  .row
    .col-xs-12
      div.header
        h1 Your Presentations
    
  .row
    .col-sm-6
      .inputField.black
        input(type="text" ng-model="sermon.title")
        label.active Title
    .col-sm-6
      .inputField.black
        input(type="date" ng-model="sermon.date")
        label.active Date
    .col-sm-6
      .inputField
        select(ng-model="sermon.template" ng-options="template.title for template in templates track by template._id")
        label.active Template


  .row(ng-show="sermon.slides.length == 0")
    .col-xs-12.submit
      button(ng-click="addSlide()") Create your first slide!

  .row(ng-repeat="slide in sermon.slides").bg-primary-light.slide
    .col-md-8
      //- bible verse picker - used for bible slides
      div(ng-show="slide.type == 'BIBLE_SLIDE'")
        .inputField.half.black
          input(type="text" ng-model="slide.fullRef" ng-blur="getVerse(slide, $index)")
          label.active Verse
        .inputField.half.black
          select(ng-model="slide.ver" ng-blur="getVerse(slide, $index)")
            each translation in SupportedTranslations
              option= translation
          label.active Translation

      //- image picker - used for image slide
      div(ng-if="slide.type == 'IMAGE_SLIDE'")
        input(type="file" name="file" kd-file-upload kd-file-response="slide")

      //- editor - show for all but image slide
      div.editor(ng-if="slide.type == 'TEXT_SLIDE'")
        div(ng-model="slide.htmlContent" medium-editor bind-options="toolbar" data-placeholder="Create your slide." options="{slide: slide}")


    .col-md-3.hidden-sm-down.preview-container(ng-if="slide.type !== 'BIBLE_SLIDE'")
      div.preview(ng-style="sermon.template.preview.container")
        .box(ng-style="sermon.template.preview.box")
          .inner.box(ng-style="sermon.template.preview.innerbox")
            .content(ng-bind-html="slide.htmlContent")
    .col-md-1
      button(style="width: 100%;" ng-click="addSlide($index)") +
      button(style="width: 100%;" ng-click="removeSlide($index)") -

  .row
    .col-xs-12.submit(ng-show="sermon.slides.length > 0")
      button(ng-click="submit()") Submit
