div.login
  h2 EasyPro
  
  button.facebook(ng-click="user.facebook()") Login with Facebook
  
  div.login-box
    h1 Login
    .inputField
      input(type="text" ng-model="user.username")
      label(ng-class="{active: user.username}") Username
      span.input-decorator(ng-class="{expand: user.username}")
    .inputField
      input(type="password" ng-model="user.password")
      label(ng-class="{active: user.password}") Password
      span.input-decorator(ng-class="{expand: user.password}")
    .inputField
      button(ng-click="user.submit(user)") Submit
