div.container
  .row
    .col-xs-12
      h1 Templates
  
  .row(ng-repeat="t in templates")
    .col-md-3
      div.preview(ng-style="t.preview.container")
        .box(ng-style="t.preview.box")
          .inner.box(ng-style="t.preview.innerbox")
            .content(ng-bind-html="t.htmlContent")
    .col-md-6
      div
        h2 {{t.title}}
        p {{t.preview.container.width}} x {{t.preview.container.height}}
    .col-md-3
      button.btn(ng-click="remove(t)") Remove
  
  .row
    .col-xs-12(style="background-color: #333; width: 100%; color: white;")
      input.text-input(type="file" nv-file-select uploader="uploader")
      ul
        li(ng-repeat="item in uploader.queue")
          span(ng-bind="item.file.name")
          button.btn(style="box-shadow: none" ng-click="item.upload()") Upload
      