div.overlay(ng-show="kdLoaderShow")
	div#floatingCirclesG
		div.f_circleG#frotateG_01
		div.f_circleG#frotateG_02
		div.f_circleG#frotateG_03
		div.f_circleG#frotateG_04
		div.f_circleG#frotateG_05
		div.f_circleG#frotateG_06
		div.f_circleG#frotateG_07
		div.f_circleG#frotateG_08
