extends _baseModal

block content
  h1 New Slide
  button.btn(ng-click="slide('TEXT');") Text Slide
  button.btn(ng-click="slide('BIBLE');") Verse Slide
  button.btn(ng-click="slide('IMAGE');") Image Slide
