.btn
  display: block
  background-color: $accent-color
  color: $accent-color-text
  padding: 1.5em
  width: 200px
  border-radius: 5px
  margin: 1em
  margin-left: auto
  margin-right: auto
  border: 0
  box-shadow: 3px 3px 15px #999
  cursor: pointer
  outline: none
  transition: .5s all
  font-weight: 700
  &:hover
    background-color: darken($accent-color, 15)

.inline
  display: inline-block
  margin: 1em

div.inlineButtonContainer
  .btn
    display: inline-block
    background-color: $primary-color-text
    color: $primary-text-color
    padding: 1.5em
    width: 30%
    margin: 1em
    border: 0
    cursor: pointer
    border-radius: 15px
    
    +mobile
      // padding: 0
      margin-left: 0
      margin-right: 0
      width: 100%
      
    
  .active
    background-color: red
