@import "variables"

div.title
	background-color: $primary-color-dark
	width: 100%
	padding: 1em
	
	flex: none
	
	& > svg
		height: 3em
		*
			fill: $primary-color-text
			
	div.menu
		float: right
		svg
			height: 3em
			fill: white