.preview
  background: #333
  height: 1080px
  width: 1920px
  zoom: 0.15
  position: relative
  
  .box
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    
    .inner.box
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      margin: 0
      line-height: 803px
      font-family: 'Helvetica', sans-serif
      font-size: calc(192px/2)
      color: white
      display: flex
      align-items: center
      justify-content: center
      
      .content
        display: block
        vertical-align: middle
        line-height: normal
        
        p
          line-height: normal
          width: auto
          height: auto
          display: block
