body
  font-size: 18px
  
  
h1
  text-align: center
  font-size: 2em
  color: $primary-color-text

h2
  font-size: 1.5em
  color: $primary-color-text

h3
  margin: 1em 0
  font-size: 1.3em
  
body, h1, h2, h3, h4, h5, h6
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300

body,
h3, 
h4, 
h5, 
h6, 
p, 
a,
a:visited
  color: $primary-text-color

a, 
a:visited
  text-decoration: none

b, strong
  font-weight: bold

i, em
  font-style: oblique
