$primary-color-dark:   #1A2A40
$primary-color:        #6BA7C1
$primary-color-light:  #BFD7E0
$primary-color-text:   #FFFFFF
// $accent-color:         #448AFF
// $accent-color:         #26a69a
$accent-color:         #FEE65E
$accent-color-text:    #000000
$primary-text-color:   #ffffff
$secondary-text-color: #111
$divider-color:        #BDBDBD


$z--1: -10
$z-0: 0
$z-1: 10
$z-2: 20
$z-3: 30
$z-10: 100

=mobile
  @media (max-width : 600px)
    @content
