// $cacaoRed : #451725
$cacaoRed: #540D0B

// $primary-color-dark:   #512DA8
$primary-color-dark:   $cacaoRed
$primary-color:        #673AB7
$primary-color-light:  #D1C4E9
$primary-color-text:   #FFFFFF
// $accent-color:         #448AFF
// $accent-color:         #26a69a
$accent-color:         #D45401
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD

=mobile
  @media (max-width : 600px)
    @content